body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.divider {
	width: 20px;
	height: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0px;
	margin-left: 1%;
	background: linear-gradient(to bottom, #0d744c, #fff);
	margin-right: 1%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.form {
    width: 80%;
    padding: 20px;
}

.form h2 {
    margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form button {
	margin-left: 10px;
	background-color: white; /* Green */
	border: none;
	color: #0d744c;
	border: 2px solid #0d744c;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.form-button:hover {
	background-color: #0d744c;
	color: white;
}

.form-field-text {
	font-family: inherit;
	height: 300px;
	width: 600px;
	border: 0;
	border: 2px solid gray;
	outline: 0;
	font-size: 1.3rem;
	color: black;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
	margin: 20px;
	margin-left: 0px;
	resize: none;
}

.form-field-number {
	font-family: inherit;
	width: 400px;
	text-align: center;
	height: 300px;
	border: 0;
	border: 2px solid gray;

	font-size: 3rem;
	color: black;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
	margin: 20px;
	margin-left: 0px;
}

h1 {
	top: 10%;
	position: absolute;
	color: #108379;
	padding: 20px;
	box-shadow: 3px 3px 3px #0d744c, 5px 5px 5px #108379;
}