<!DOCTYPE html>
<html>
<head>
    <title>Ocena tweetów</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

    <h1>Ocena tweeta</h1>
    <form action="/analyze_tweet" method="post" class="form-inside">
        <label for="tweet_text" class="form-label">Tekst tweeta:</label>
        <textarea id="tweet_text" name="tweet_text" class="form-field" maxlength="300" placeholder="Treść Tweeta"></textarea>
        <button type="submit" class="form-button">Oceń</button> 
    </form>
    
    <div class="divider"></div>

    <h1>Webscrapowanie tweetów</h1>
    <form action="/scrape_tweets" method="post" class="form-inside">
        <label for="tweet_text" class="form-label">Ilość tweetów:</label>
        <input type="number" id="num_tweets" min="1" max="10" name="num_tweets" class="form-field">
        <button type="submit" class="form-button">Ściągnij</button> 
    </form>


</body>
</html>